@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Public Sans', sans-serif;
}
html, body, #root {
  background-color: #0B0F17;
  height: 100%;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}